# Node
node_modules/
**/node_modules/

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db
